<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="about_div">
      <div class="picha">
      <img src="../static/images/cow1.jpg">
            <h1>ABOUT PAGE</h1>
            <p>Development of a web-based cattle auction management system specifically designed to facilitate the sale of cattle in areas affected by drought.
                The project aims to address the challenges faced by pastoralists in these regions and provide them with a platform to effectively market and sell their cattle.</p>

        </div>
  </div>
</body>
</html>